html
  head
    link(rel="stylesheet", href="/css/style.css", data-inline)
  body
    include ../includes/header.pug
    main
      .title New chat request
      .text Hi #{admin_name},
        |
        br
        |
        br
        | There is new chat request awaiting for response. Details are listed below.
        br
        |
        br
        |
        b Name:
        span  #{first_name} #{last_name}
        |
        br
        |
        b Message:
        span  #{chat_reason}
        |
        br
        |
        br
        |
        span.italic Remember!
        br
        |
        span Lock bot reactions for user before answering! You can do it
        |
        a(href=`${cms_url}/#/chats`)  here
        |
        span .
    footer
      |
      br
      div Have a nice day,
      div #{app_name}
